@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  background-color: #fafafa;
  height: 100vh;
  position: relative;
  font-family: "Rubik", sans-serif;
}

.shape-1 {
  background: rgb(193, 64, 255);
  background: linear-gradient(172deg, rgb(193, 64, 255) 39%, rgb(149, 59, 255) 100%);
  width: 814px;
  height: 888px;
  position: fixed;
  top: 0;
  left: -15%;
  border-bottom-right-radius: 55%;
  border-bottom-left-radius: 55%;
  z-index: 100;
}

.shape-2 {
  background-color: #f9f4fa;
  width: 822px;
  height: 800px;
  position: fixed;
  bottom: 0;
  right: -20%;
  border-top-left-radius: 50%;
}

.cn {
  z-index: 999;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cn .cn-1 {
  max-width: 400px;
  min-width: 400px;
  border: rgb(255, 255, 255) 20px solid;
  border-radius: 50px;
  background-color: #f5f3f8;
  box-shadow: 0px 1px 42px -13px rgba(0, 0, 0, 0.2);
}
.cn .cn-1 .box-1 {
  background: rgb(193, 64, 255);
  background: linear-gradient(172deg, rgb(193, 64, 255) 39%, rgb(149, 59, 255) 100%);
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px 20px 20px;
}
.cn .cn-1 .box-1 .sub-box-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.cn .cn-1 .box-1 .sub-box-2 p {
  color: white;
  font-size: 30px;
}
.cn .cn-1 .box-1 .sub-box-2 .user-img {
  width: 50px;
  height: 50px;
  background-color: rgb(74, 0, 83);
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
}
.cn .cn-1 .box-1 .sub-box-2 .user-status .user {
  color: white;
  font-weight: 500;
  font-size: 20px;
}
.cn .cn-1 .box-1 .sub-box-2 .user-status .status {
  color: rgba(255, 255, 255, 0.678);
  font-size: 12px;
}
.cn .cn-1 .box-1 .sub-box-3 {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.cn .cn-1 .box-1 .sub-box-3 .dot {
  background-color: white;
  width: 5px;
  height: 5px;
}
.cn .cn-1 .box-2 .msg {
  display: flex;
}
.cn .cn-1 .box-2 .msg p {
  color: #a867ca;
  font-weight: 400;
  background-color: #ede5f4;
  padding: 10px;
  border-radius: 20px;
  border-bottom-left-radius: 10px;
  margin: 5px 15px;
}
.cn .cn-1 .box-3 .msg-img {
  display: flex;
  gap: 3px;
  flex-direction: row-reverse;
  margin: 5px 15px;
}
.cn .cn-1 .box-3 .msg-img .image {
  width: 70px;
  height: 70px;
  background-color: #a47cba;
  border-radius: 20px;
}
.cn .cn-1 .box-3 .msg-2 {
  display: flex;
  flex-direction: row-reverse;
}
.cn .cn-1 .box-3 .msg-2 p {
  color: rgba(0, 0, 0, 0.7803921569);
  font-weight: 400;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  border-bottom-right-radius: 10px;
  margin: 5px 15px;
}
.cn .cn-1 .box-4 .msg-3 {
  display: flex;
}
.cn .cn-1 .box-4 .msg-3 p {
  color: #a867ca;
  font-weight: 400;
  background-color: #ede5f4;
  padding: 10px;
  border-radius: 20px;
  border-bottom-left-radius: 10px;
  margin: 5px 15px;
}
.cn .cn-1 .box-4 .msg-payment {
  width: 75%;
  color: white;
  background: rgb(193, 64, 255);
  background: linear-gradient(172deg, rgb(193, 64, 255) 39%, rgb(149, 59, 255) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 20px;
  border-bottom-left-radius: 10px;
  margin: 5px 15px;
}
.cn .cn-1 .box-4 .msg-payment .left {
  display: flex;
  align-items: center;
}
.cn .cn-1 .box-4 .msg-payment .left p {
  font-weight: 400;
  font-size: 13px;
}
.cn .cn-1 .box-4 .msg-payment .left .shape {
  width: 17px;
  height: 17px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 15px;
}
.cn .cn-1 .box-4 .msg-payment .right p {
  font-weight: 700;
  font-size: 22px;
}
.cn .cn-1 .box-5 {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 15px;
  padding: 10px 15px;
  border-radius: 20px;
}
.cn .cn-1 .box-5 .send {
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
}
.cn .cn-1 .box-5 .send::-moz-placeholder {
  color: rgba(0, 0, 0, 0.493);
}
.cn .cn-1 .box-5 .send:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.493);
}
.cn .cn-1 .box-5 .send::placeholder {
  color: rgba(0, 0, 0, 0.493);
}
.cn .cn-1 .box-5 .btn {
  height: 30px;
  width: 35px;
  background-color: black;
  border-radius: 50%;
  position: relative;
}
.cn .cn-1 .box-5 .btn .chevron {
  height: 10px;
  position: relative;
  display: block;
}
.cn .cn-1 .box-5 .btn .chevron::after, .cn .cn-1 .box-5 .btn .chevron::before {
  position: absolute;
  display: block;
  content: "";
  border: 7px solid transparent;
}
.cn .cn-1 .box-5 .btn .chevron::after {
  top: 8px;
  left: 10px;
  /*adjust thickness*/
  border-left-color: rgb(0, 0, 0);
}
.cn .cn-1 .box-5 .btn .chevron::before {
  top: 8px;
  left: 13px;
  border-left-color: rgb(255, 255, 255);
}
.cn .cn-2 {
  padding-left: 100px;
  padding-top: 250px;
  min-width: 600px;
}
.cn .cn-2 h2 {
  font-size: 60px;
  font-weight: 500;
  color: rgb(66, 0, 102);
  line-height: 1.2;
  margin-bottom: 20px;
}
.cn .cn-2 p {
  color: rgba(17, 17, 17, 0.849);
  font-size: 20px;
}

@media only screen and (max-width: 1300px) {
  body .shape-1 {
    width: 600px;
  }
  body .shape-2 {
    width: 630px;
  }
}
@media only screen and (max-width: 1030px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .cn {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .cn .cn-2 {
    padding: 20px;
    padding-top: 50px;
    min-width: 100%;
  }
  .cn .cn-2 h2 {
    text-align: center;
    font-size: 44px;
  }
  .cn .cn-2 p {
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  body .shape-1 {
    width: 428px;
    height: 672px;
  }
  body .shape-2 {
    width: 630px;
  }
}/*# sourceMappingURL=main.css.map */